/* CSS style for main header */

.main-header{
  display: flex;
  flex-direction: column;
  color: white;
  height:400px;
  justify-content:center;
  align-items: center;
  background-color: #c4a300;
 background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}