/* Navigation pane style */
nav {
  display:flex;
  justify-content: space-between;
  padding: 1.5em ; 
  height: 120px;
  color :  #FFFFFF ;
  background-color: #4056A1;
  Width :100% ;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}
/* Setting heading font to Bungee */
span {
  font-family: Bungee;
}
/* setting up of Write New tweet and arrow  */
#newtweetdropdown{
display:flex;
flex-direction: column;
font-weight:700;
}
#arrow{
  display: flex;
  background-color: transparent;
  color:red;
  justify-content: center;
}