
.tweet{
  margin-top: 1.5em;
  border: 2px solid black;
  padding: 1em;
}
.tweet header{
  display :flex;
  justify-content: space-between;
  width:100%;
  padding: 1em;
}
#nameandphoto {
display:flex;
flex-direction: row;
justify-content: space-around;
}
.boxed {
  display: flex;
  border-bottom: 3px solid black;
  justify-content: space-between;
  font-weight: 600;
}
article.tweet footer{
  display:flex;
  flex-direction:row; 
 justify-content: space-between;
  font-size: medium;
  font-weight :600;
};
