
.tweet{
  margin-top: 1.5em;
  border: 2px solid black;
  padding: 1em;
  opacity: 0.1;
  box-shadow: none;
  font-weight: normal;
}
.tweet:hover{
  opacity: 1 ;
  box-shadow: 5px 6px blue;
}
.tweet h4{
  opacity:0;
}
.tweet:hover h4{
  opacity:1;
}

.tweet header{
  display :flex;
  justify-content: space-between;
  padding-bottom: 1em;
  width:100%;
}
#nameandphoto {
display:flex;
flex-direction: row;
height: 60px;
font: weight 300px;;
justify-content: space-around;
}
.boxed {
  display: flex;
  border-bottom: 3px solid black;
  justify-content: space-between;
}
article.tweet footer{
  display:flex;
  flex-direction:row; 
 justify-content: space-between;
  font-size: medium;
};
